<div class="card">
  <div class="card-body">
    <form >
    <h5 class="card-title">LISTADO DE PERMISOS</h5>
    <hr />
    <div class="row">
      <div class="col-xl-3">
        <div class="mb-3">
          <label class="form-label">Permiso</label>
          <input type="text" class="form-control" placeholder="Ingrese estado." >
        </div>
      </div>
      <div class="col-xl-3" style="margin-top: 29px">
        <button type="button" class="btn btn-success" style="margin-right: 5px;">
          <i class="fa-solid fas fa-search"></i>
          Buscar
        </button>
        <button type="button" class="btn btn-danger">
          <i class="fa-solid fas fa-eraser"></i>
          Limpiar</button>
      </div>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Permisos</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </form>
  </div>
</div>
