<div class="card">
  <div class="card-body">
    <form >
    <h5 class="card-title">LISTADO DE TIPOS DE HABITACIONES</h5>
    <hr/>
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modalTiposHabitaciones" (click)="AbrirModal()">
          <i class="fa-solid fas fa-plus"></i>
          Agregar empresa
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Ruc</th>
        <th scope="col">Localizacion</th>
        <th scope="col">Celular</th>
        <!-- <th scope="col">Imagen</th> -->
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let companies of company; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ companies.name }}</td>
        <td>{{ companies.email }}</td>
        <td>{{ companies.ruc }}</td>
        <td>{{ companies.location }}</td>
        <td>{{ companies.phone }}</td>
        <!-- <td>{{ companies.logoUrl }}</td> -->
        <td>
          <button class="btn btn-sm btn-primary" (click)="editarCompany(companies)">
            <i class="fa-solid fas fa-pen"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="eliminarCompany(companies.id)">
            <i class="fa-solid fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
    </form>
  </div>
</div>
