<div class="card">
  <div class="card-body">
    <form >
    <h5 class="card-title">LISTADO DE PERSONAL</h5>
    <hr />
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCliente" (click)="AbrirModal()">
          <i class="fa-solid fas fa-plus"></i>
          Agregar personal
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <div class="mb-3">
          <label class="form-label">Número de documento:</label>
          <input type="text" class="form-control" placeholder="Ingrese un numero de documento" >
        </div>
      </div>
      <div class="col-xl-3" style="margin-top: 29px">
        <button type="button" class="btn btn-success" style="margin-right: 5px;" (click)="buscarPorDocumento()">
          <i class="fa-solid fas fa-search"></i>
          Buscar
        </button>
        <button type="button" class="btn btn-danger" (click)="limpiarFiltros()">
          <i class="fa-solid fas fa-eraser"></i>
          Limpiar</button>
      </div>
    </div>
    </form>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Nro. documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <!-- <th scope="col">Empresa</th>
            <th scope="col">User</th> -->
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ empleado.documentType }}</td>
            <td>{{ empleado.documentNumber }}</td>
            <td>{{ empleado.name }}</td>
            <td>{{ empleado.lastName }}</td>
            <td>{{ empleado.phone }}</td>
            <!-- <td>{{ empleado.CompanyId }}</td>
            <td>{{ empleado.UserId }}</td> -->
            <td>
              <button class="btn btn-sm btn-primary" (click)="editarEmpleado(empleado)">
                <i class="fa-solid fas fa-pen"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="eliminarEmpleado(empleado.id)">
                <i class="fa-solid fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
